@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --size: 14px;
    --medium: calc(var(--size) * 1.5);
    --large: calc(var(--size) * 2);
    --verylarge: calc(var(--size) * 3);
    --small: calc(var(--size) / 1.5)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: var(--size);
    font-family: 'Inter', sans-serif;
    color: white;
    background: hsl(230, 17%, 14%);
}

h1, h2{
    font-size: var(--medium);
}

.wrapper{
    width: 90%;
    margin: auto;
}

.mode{
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--large);
    height: var(--size);
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--small);
    width: var(--small);
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(calc(var(--small) + 1px));
    -ms-transform: translateX(calc(var(--small) + 1px));
    transform: translateX(calc(var(--small) + 1px));
  }

  .box{
      padding: var(--size);
      display: flex;
      flex-direction: column;
      align-items: center;
      background: hsl(228, 28%, 20%);
  }

  .box img{
      margin-right: 0.2rem;
  }

  .top, .lower{
      display: flex;
      align-items: center;
  }

  .middle{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .number{
      font-size: var(--verylarge);
  }

  .o-upper, .o-lower{
      display: flex;
      justify-content: space-between;
  }

  .overview-box{
    padding: var(--size);
    background: hsl(228, 28%, 20%);
  }
  